

.sideBar {

    border: 2px solid black;
    width: 306px;
    background: #d3d3d3 ;
    font-size: 125%;

    
}

.sideBar tr {
    text-align: center;
}

.welcome {
    margin-left: 631px;
    margin-bottom: 500px;
    top: 5px;
    text-align: center;
    width: 300px;

}