<ng-include src="'templates/sidebar.html'"></ng-include>
<div class="chatroom">
    <table class="table table-striped">
        <tr>
            <th>{{RoomID}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="message in chatroom.messages">
            <td><h4>{{message.username}}</h4>{{message.content}}</td>
            <td>{{message.sentAt}}</td>
        </tr>

    </table>
    <input type="text" class="messageBar form-control" ng-model="chatroom.chatMessage" placeholder="New Message">
    <button type="button" class="btn btn-input" ng-click="chatroom.newMessage(chatroom.chatMessage)">Send</button>
</div>