<ng-include src="'templates/sidebar.html'"></ng-include>
<div class="chatroom">
    <table class="table table-striped">
        <tr>
            <th>{{RoomID}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="message in chatroom.messages">
            <td><h4>{{message.username}}</h4>{{message.content}}</td>
            <td>{{message.sentAt}}</td>
        </tr>

    </table>
    <input type="text" class="messageBar form-control" ng-model="chatMessage" placeholder="New Message">
    <button type="button" class="btn btn-input">Send</button>
    <p>{{chatMessage}}</p>
    
</div>