
 
        <div class="modal-content">
            <div class="modal-header">
                <h2>Please Enter a Username</h2>
            </div>
            <div class="modal-body" ng-controller="userNameModal">
                <input type="text" id="username" ng-model="username">
                <p>{{username}}</p>
                <button type="button" class="btn btn-primary pull-right" ng-click="addName()">Confirm username</button>
                <p>{{$cookies.getAll()}}</p>
                <br />
            </div>
            <div class="modal-footer">
            </div>
        </div>

